package element

templ ButtonSubmit(text string) {
	<button
		type="submit"
		class="btn btn-primary justify-center text-sm btn-sm px-3 py-4 w-full rounded-xl mt-8 group-invalid:pointer-events-none group-invalid:opacity-30"
	>
		{ text }
	</button>
}
